

<header class="animate__animated animate__backInDown" style="{{ partial "sidebar/style" . | safeCSS }}" >


  <div class="intro" >
    <div class="logo-container">
      <a href="/">
        <img  src='{{ .Site.Params.sidebar.logo | default "images/edna-west.jpg" | absURL }}' alt="Profile {{ .Title }}" class="rounded-logo">
      </a>
    </div>
    <h2 style="font-size: 28px;">{{ .Site.Params.intro.main | default "Welcome, I'm John Doe" | emojify }}</h2>
    <h4 style="font-size: 15px; margin-top: 5px;">{{ .Site.Params.intro.sub | default "This is my personal website" | emojify }}</h4>
    <div class="menu">
      {{ partial "sidebar/menu" . }}
      {{ if .Site.Params.contact.email }}
        {{ $email := printf "mailto:%s" .Site.Params.contact.email}}
        <p>
            <a href="{{ $email }}" target="_blank" rel="external">
                {{ .Site.Params.contact.text | emojify }}
            </a>
        </p>
      {{ end }}
    </div>

  </div>

  <div class="socials">
      {{ partial "sidebar/social" .}}
  </div>


  <ul>
    {{ range $.Site.Home.AllTranslations }}
    <li class="test"><a class="idiomas" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
    {{ end }}
    </ul>



</header>
